
<fieldset class="form-group">
    <label>Does your pet shed?</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="shed" value="true" data-ng-model="formData.shed">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="shed" value="false" data-ng-model="formData.shed">
        No
      </label>
    </div>
</fieldset>

<div class="form-group">
    <input type="text" class="form-control" name="shed_info" placeholder="Additional details, if need" data-ng-model="formData.shed_info">
</div>

<fieldset class="form-group">
    <label>Is your pet hypoallergenic?</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="hypoallergenic" value="true" data-ng-model="formData.hypoallergenic">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="hypoallergenic" value="false" data-ng-model="formData.hypoallergenic">
        No
      </label>
    </div>
</fieldset>

<div class="form-group">
    <input type="text" class="form-control" name="hypoallergenic_info" placeholder="Additional details, if need" data-ng-model="formData.hypoallergenic_info">
</div>

<fieldset class="form-group">
    <label>Does your pet made considerable noise?</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="noise" value="true" data-ng-model="formData.noise">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="noise" value="false" data-ng-model="formData.noise">
        No
      </label>
    </div>
</fieldset>

<div class="form-group">
    <input type="text" class="form-control" name="noise_info" placeholder="Additional details, if need" data-ng-model="formData.noise_info">
</div>

<fieldset class="form-group">
    <label>Does your pet have a history of aggression?</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="aggression" value="true" data-ng-model="formData.aggression">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="aggression" value="false" data-ng-model="formData.aggression">
        No
      </label>
    </div>
</fieldset>

<div class="form-group">
    <input type="text" class="form-control" name="aggression_info" placeholder="Additional details, if need" data-ng-model="formData.aggression_info">
</div>

<div class="form-group">
    <label for="specialcare">Does your pet have any special care requirements?</label>
    <input type="text" class="form-control" name="specialcare" data-ng-model="formData.specialcare">
</div>

<div class="form-group">
    <label for="vet">Veterinary name and contact info</label>
    <textarea class="form-control" rows="2" name="vet" data-ng-model="formData.vet"></textarea>
</div>

<div class="form-group">
    <label for="about">About your pet (enjoys long walks on the beach, peanut butter, etc.)</label>
    <textarea class="form-control" rows="3" name="about" data-ng-model="formData.about"></textarea>
</div>
<div class="form-group">
    <label for="instructions">Care instructions</label>
    <textarea class="form-control" rows="5" name="instructions" data-ng-model="formData.instructions"></textarea>
</div>

<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Hit submit to finish!</h3>

    <button type="submit" class="btn btn-danger">Submit</button>
</div>
