

<fieldset class="form-group">
    <legend>Species</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="species" value="dog" data-ng-model="formData.species">
        Dog
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="species" value="cat" data-ng-model="formData.species">
        Cat
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="species" value="other" data-ng-model="formData.species">
        Other
      </label>
    </div>
  </fieldset>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" data-ng-model="formData.name">
</div>

<div class="form-group">
    <label for="weight">Weight</label>
    <input type="number" class="form-control" name="weight" data-ng-model="formData.weight">
</div>

<div class="form-group">
    <label for="breed">Breed</label>
    <input type="text" class="form-control" name="breed" data-ng-model="formData.breed">
</div>

<div class="form-group">
    <label for="age_years">Age (years)</label>
    <input type="number" class="form-control" name="age_years" data-ng-model="formData.age_years">
</div>

<div class="form-group">
    <label for="age_months">Age (months)</label>
    <input type="number" class="form-control" name="age_months" data-ng-model="formData.age_months">
</div>

<fieldset class="form-group">
    <legend>Sex</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="sex" value="male" data-ng-model="formData.sex">
        Male
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="sex" value="female" data-ng-model="formData.sex">
        Female
      </label>
    </div>
</fieldset>

<fieldset class="form-group">
    <legend>Is your pet spayed?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="spayed" value="true" data-ng-model="formData.spayed">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="spayed" value="false" data-ng-model="formData.spayed">
        No
      </label>
    </div>
</fieldset>

<fieldset class="form-group">
    <legend>Is your pet housetrained?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="housetrained" value="true" data-ng-model="formData.housetrained">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="housetrained" value="false" data-ng-model="formData.housetrained">
        No
      </label>
    </div>
</fieldset>

<div class="form-group">
    <input type="text" class="form-control" name="housetrained_info" placeholder="Additional details, if need" data-ng-model="formData.housetrained_info">
</div>

<fieldset class="form-group">
    <legend>Is your pet microchipped?</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="chipped" value="true" data-ng-model="formData.chipped">
        Yes
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="chipped" value="false" data-ng-model="formData.chipped">
        No
      </label>
    </div>
</fieldset>

<!-- <div class="form-group">
    <label for="address1">Address 1</label>
    <input type="text" class="form-control" name="address1" data-ng-model="formData.address1">
</div>

<div class="form-group">
    <label for="address2">Address 2</label>
    <input type="text" class="form-control" name="address2" data-ng-model="formData.address2">
</div>

<div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" data-ng-model="formData.city">
</div>

<div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" data-ng-model="formData.state">
</div>

<div class="form-group">
    <label for="zipcode">Zip code</label>
    <input type="text" class="form-control" name="zipcode" data-ng-model="formData.zipcode">
</div>

<div class="form-group">
    <label for="phone1">Phone number</label>
    <input type="text" class="form-control" name="phone1" data-ng-model="formData.phone1">
</div> -->

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a data-ui-sref="NewPet.profile2" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
