

<!-- <input type="text" data-ng-model="firstname" placeholder="First name" />
<input type="text" data-ng-model="lastname" placeholder="Last name" />
<input type="text" data-ng-model="address1" placeholder="Address line 1" />
<input type="text" data-ng-model="address2" placeholder="Address line 2" />
<input type="text" data-ng-model="city" placeholder="City" />
<input type="text" data-ng-model="state" placeholder="State" />
<input type="text" data-ng-model="zipcode" placeholder="Zip code" />
<input type="text" data-ng-model="phone1" placeholder="Phone number" /> -->

<div class="form-group">
    <label for="firstname">First name</label>
    <input type="text" class="form-control" name="firstname" data-ng-model="formData.firstname">
</div>

<div class="form-group">
    <label for="lastname">Last name</label>
    <input type="text" class="form-control" name="lastname" data-ng-model="formData.lastname">
</div>

<div class="form-group">
    <label for="address1">Address 1</label>
    <input type="text" class="form-control" name="address1" data-ng-model="formData.address1">
</div>

<div class="form-group">
    <label for="address2">Address 2</label>
    <input type="text" class="form-control" name="address2" data-ng-model="formData.address2">
</div>

<div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" data-ng-model="formData.city">
</div>

<div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" data-ng-model="formData.state">
</div>

<div class="form-group">
    <label for="zipcode">Zip code</label>
    <input type="text" class="form-control" name="zipcode" data-ng-model="formData.zipcode">
</div>

<div class="form-group">
    <label for="phone1">Phone number</label>
    <input type="text" class="form-control" name="phone1" data-ng-model="formData.phone1">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a data-ui-sref="Sitters.NewSitter.services" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
