

<div class="form-group">
    <label for="max_distance">Max distance you'll travel?</label>
    <input type="number" class="form-control" name="max_distance" data-ng-model="formData.max_distance">
</div>

<div class="form-group">
    <label for="visit_rate">What is your visit rate?</label>
    <input type="number" class="form-control" name="visit_rate" data-ng-model="formData.visit_rate">
</div>

<div class="form-group">
    <label for="visit_max">How many visits per day?</label>
    <input type="number" class="form-control" name="visit_max" data-ng-model="formData.visit_max">
</div>

<div class="form-group">
    <label for="walking_rate">What is your walking rate?</label>
    <input type="number" class="form-control" name="walking_rate" data-ng-model="formData.walking_rate">
</div>

<div class="form-group">
    <label for="walking_max">How many walks per day?</label>
    <input type="number" class="form-control" name="walking_max" data-ng-model="formData.walking_max">
</div>

<div class="text-center">
    <span class="glyphicon glyphicon-heart"></span>
    <h3>Hit submit to finish!</h3>

    <button type="submit" class="btn btn-danger">Submit</button>
</div>

<!-- <div class="form-group">
    <div class="checkbox">
        <label>
           <input type="checkbox" data-ng-model="formData.visit_times_avail" value="visit_times_avail">
           Visits
        </label>
    </div>
    <div class="checkbox">
        <label>
           <input type="checkbox" data-ng-model="formData.walking_times_avail" value="walking_times_avail">
           Hosting
        </label>
    </div>
</div> -->
