<h2 class="pageHeader">New Visit</h2>
<p>OK, let's get started.</p>

<main data-ng-controller="NewVisitController as vm">
<form data-ng-submit="NewVisitViewModel.create(firstname, lastname, address1, address2, city, state, zipcode, phone1)" role="form">

    <input type="text" data-ng-model="firstname" placeholder="First name" />
    <input type="text" data-ng-model="lastname" placeholder="Last name" />
    <input type="text" data-ng-model="address1" placeholder="Address line 1" />
    <input type="text" data-ng-model="address2" placeholder="Address line 2" />
    <input type="text" data-ng-model="city" placeholder="City" />
    <input type="text" data-ng-model="state" placeholder="State" />
    <input type="text" data-ng-model="zipcode" placeholder="Zip code" />
    <input type="text" data-ng-model="phone1" placeholder="Phone number" />

<button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>

</main>
